@* @using METEOdotNet.Services *@
@* @inject GeolocationService GeolocationService *@
@inject IJSRuntime JSRuntime

@code {
    public double latitude;
    public double longitude;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetGeolocationAsync();
        }
    }

    private async Task GetGeolocationAsync()
    {
        var result = await JSRuntime.InvokeAsync<GeolocationResult>("getGeolocation");
        latitude = result.Latitude;
        longitude = result.Longitude;
        await JSRuntime.InvokeVoidAsync("initializeMap", latitude, longitude);
    }

    public class GeolocationResult
    {
        public double Latitude { get; set; }
        public double Longitude { get; set; }
    }
}


<h3>Geolocation</h3>
<div id="map" class="" style="width:300px; height:300px"></div>


<script>
    window.initializeMap = (lat, lon) => {
        console.log("desde inizilizeMAP", lat, lon)
        var map = L.map('map', { zoomControl: false }).setView([lat, lon], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var marker = L.marker([lat, lon]).addTo(map);
    };

        window.getGeolocation = () => {
        return new Promise((resolve, reject) => {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var lat = position.coords.latitude;
                    var lon = position.coords.longitude;
                    console.log('latitud =', lat, 'longitud =', lon); // Mensaje de depuración
                    resolve({ Latitude: lat, Longitude: lon });
                }, function (error) {
                    console.error('Error obteniendo la geolocalización:', error); // Mensaje de error
                    reject(error);
                });
            } else {
                console.error('Geolocalización no soportada por este navegador.'); // Mensaje de error
                reject("Geolocation is not supported by this browser.");
            }
        });
    };

</script>


