@inject IJSRuntime JSRuntime
@inject Coordenates coordenates


@code {
    public double latitude;
    public double longitude;
    public double viewportHeight;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetViewportSizeAsync();
            await GetGeolocationAsync();
        }
    }

    private async Task GetViewportSizeAsync()
    {
        var viewportSize = await JSRuntime.InvokeAsync<ViewportSize>("getViewportSize");
        viewportHeight = viewportSize.Height / 2;
    }

    private async Task GetGeolocationAsync()
    {
        var result = await JSRuntime.InvokeAsync<GeolocationResult>("getGeolocation");
        latitude = result.Latitude;
        coordenates.Latitude = latitude;
        longitude = result.Longitude;
        coordenates.Longitude = longitude;
        await JSRuntime.InvokeVoidAsync("initializeMap", latitude, longitude, viewportHeight);
    }

    public class GeolocationResult
    {
        public double Latitude { get; set; }
        public double Longitude { get; set; }
    }

    public class ViewportSize
    {
        public double Height { get; set; }
    }
}

@* <div id="map" style="height:@($"{viewportHeight}px");"></div> *@
<div id="map" style="height:300px;"></div>



<script>
    window.initializeMap = (lat, lon, height) => {
        console.log("desde initializeMap", lat, lon, height);
        var map = L.map('map', { zoomControl: false }).setView([lat, lon], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var marker = L.marker([lat, lon]).addTo(map);
    };

    window.getGeolocation = () => {
        return new Promise((resolve, reject) => {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var lat = position.coords.latitude;
                    var lon = position.coords.longitude;
                    console.log('latitud =', lat, 'longitud =', lon);
                    resolve({ Latitude: lat, Longitude: lon });
                }, function (error) {
                    console.error('Error obteniendo la geolocalización:', error);
                    reject(error);
                });
            } else {
                console.error('Geolocalización no soportada por este navegador.');
                reject("Geolocation is not supported by this browser.");
            }
        });
    };

    window.getViewportSize = () => {
        return {
            Width: window.innerWidth,
            Height: window.innerHeight
        };
    };
</script>
